
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewBag.Search = Model.Search;
}



<div class=" d-flex flex-column  align-items-center ">
    @if (!String.IsNullOrEmpty(Model.Search))
    {
        <h2 class="mb-3">Search Results For:&ldquo;@Model.Search&ldquo;</h2>
        <hr />
    }
    @foreach (var post in Model.Posts)
    {
        <div class="post col-md-6">
            <h2 class="post-title">@post.Title</h2>
            <div class="post-image">
                <img src="~/img/@post.Photo" alt="@post.Title" />
            </div>
            <div class="post-details">
                <div class="post-tags">
                    @foreach (var tag in post.Tags)
                    {
                        <a asp-route-q="#@tag.Name">#@tag.Name</a>
                    }
                </div>
                <div class="post-time">
                    <span data-post-time="@post.CreatedTime.ToString("s")"></span>
                </div>
            </div>
            <p class="post-desc">
                @post.Description
            </p>
        </div>
    }
</div>

